body{
    color:black;
    background-color: orange;
}

#container {
    background-color: Orange;
    color : white;
    border: 1px #A5C9CA solid;
    width: 200px;
    border-radius: 10px;
    box-shadow: 13px 21px 38px 0px rgba(0, 0, 0, 0.75);
    padding: 50px;
    margin: 50px;
    transition: 0.5s;
 }

#container:hover {
    background-color: yellow;
    color: black;
}
.Info{
    background-color: yellow;
	padding: 10px;	
	border: 2px black solid;
}
.Info a {
    color:white;
	margin:5px;
    text-decoration:none; 
    color:white;
    background-color: Orange;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
	text-decoration: none;
}

.day1{
    background-color: yellow;
	padding: 10px;
	border: 2px black solid;	
}
.day2{
    background-color: yellow;
	padding: 10px;
	border: 2px black solid;    
}

.day1 h2 {
    background-color: #1b95e0;
    color: #fff;
    border-radius: 6px;
    height: auto;
    width: 100px;
    font-weight: 700;
    font-size: 25px;
    padding: 8px 20px 8px 20px;
    text-align: center;    
}

.tags .ess{background-color:Black;  color:white; border-radius: 10px; padding: 3px;}
.tags .beg{background-color: orange;  color:white; border-radius: 10px; padding: 3px;}
.lu .links {
    margin-top:10px;
    color:white;
    background-color: Orange;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
	text-decoration: none;
}

.lu{
    background-color: yellow;
	padding: 10px;
	border: 2px black solid;
    height: auto;
}

.lu .links a {
    color:white;
    text-decoration:none; 
}

.course {
    width: 22%;
    height: auto;
    float: left;
    padding: 5px;
    background-color: white;
    color: black;
    border: 1px black solid; 
    text-align: center;
}  

.full-stack {
    padding: 0px;
}

.fcourse {
    width: 35%;
    height: auto;
    float: left;
    padding: 5px;
    background-color: white;
    color: black;
    border: 1px black solid; 
    text-align: center;
} 
